<table class="">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport of Departure</th>
      <th>Airport of Arrival</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% flights.each do |flight| %>
      <tr>
        <td>
          <%= link_to flight.airline do %>
            <%= image_tag "airlines/#{flight.airline.name.split.join('_').downcase}.png", size: '30x30', class: 'airline-logo' %>
          <% end %>
        </td>
        <td><%= flight.departure_airport.name %></td>
        <td><%= flight.arrival_airport.name %></td>
        <td><%= flight.departure_time %></td>
        <td><%= flight.arrival_time %></td>
        <% if controller_name == 'flights' %>
          <td>
            <%= form_with(url: new_booking_path, method: :get) do |f| %>
              <%= f.hidden_field :flight_id, value: flight.id %>
              <%= f.hidden_field :passenger_count, value: params[:passenger_count] %>
              <%= f.submit 'Book' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
