<%= form_with(url: flights_path, method: :get, data: { turbo: false }, class: 'flight-search flex column gap-10 align-self-center') do |f| %>
  <div class="field">
    <%= f.label :departure_airport, 'From' %>
    <%= f.select :departure_airport, departure_airports %>
    <%= f.label :arrival_airport, 'To' %>
    <%= f.select :arrival_airport, arrival_airports %>
  </div>

  <div class="field align-self-center">
    <%= f.label :departure_day  %>
    <%= f.text_field :departure_day, placeholder: 'YYYY/MM/DD' %>
  </div>

  <div class="field align-self-center">
    <%= f.label :passenger_count %>
    <%= f.select :passenger_count, (1..5).to_a %>
  </div>

  <div class="actions align-self-center">
    <%= f.submit 'Find Flight' %>
  </div>
<% end %>
