<h2 class="heading align-self-center">Flight Search</h2>

<%= render 'form', departure_airports: @departure_airports %>

<% if params[:commit] %>
  <h2 class="heading align-self-center">Available Flights(<%= @flights.size %>)</h2>
  <% if @flights.any? %>
    <%= render 'flight_query', flights: @flights %>
  <% end %>
<% end %>

<%= javascript_include_tag 'kalendae/kalendae.standalone.js' %>
<%= javascript_include_tag 'custom/main.js' %>
