<h2 class="heading">New Booking</h2>

<%= render 'flights/flight_query', flights: [@flight] %>

<h2 class="heading">Passenger Details</h2>

<%= form_with(model: @booking, class: 'flex column gap-10') do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>

  <%= f.fields_for :passengers do |p_f| %>
    <div class="flex column gap-10">
      <div>
        <%= p_f.label :name %>
        <%= p_f.text_field :name %>
      </div>

      <div>
        <%= p_f.label :email %>
        <%= p_f.email_field :email %>
      </div>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
