<h2 class="heading">New Booking</h2>

<%= render 'flights/flight_query', flights: [@flight] %>

<h2 class="heading">Passenger Details</h2>

<%= form_with(model: @booking, class: 'booking-form flex column gap-20') do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>

  <%= f.fields_for :passengers do |p_f| %>
    <div class="flex column gap-10">
      <h3 class="bold">Passenger #<%= p_f.options[:child_index] + 1 %></h3>

      <div class="flex gap-10 align-center">
        <%= p_f.label :name %>
        <%= p_f.text_field :name %>

        <%= p_f.label :email %>
        <%= p_f.email_field :email %>
      </div>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
